<%= form_for(@ob) do |f| %>
  <% if @ob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ob.errors.count, "error") %> prohibited this ob from being saved:</h2>

      <ul>
      <% @ob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
