<h1>Listing obs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @obs.each do |ob| %>
      <tr>
        <td><%= link_to 'Show', ob %></td>
        <td><%= link_to 'Edit', edit_ob_path(ob) %></td>
        <td><%= link_to 'Destroy', ob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ob', new_ob_path %>
