
<html>
	<head>
      <script type="text/javascript">
          var tt_cancel_destination = "/"
      </script>
	</head>
<body>

<%=form_tag log_in_path do%>
<input type="text" id="username" name="username" helpText="Enter username"/>
<input type="password" id="password" name="password" helpText ="Enter password" />
<input type="text"  id="location" name="location" helpText="Scan location barcode" />
<%end%>

</body>
</html>

