<html>
	<head>
		<%= javascript_include_tag 'jquery-1.3.2.min' %>
          <script>

            var cancelDestination = "index.html";

            function __$(id){
                    return document.getElementById(id);
            }

            function doLogin(id){

                    if(btnNext){
                          
                            if(__$(id) && __$(id).value.trim().match(/\$/)){

                                    if(__$("textFor" + id)){

                                            __$("textFor" + id).value = __$("textFor" + id).value.trim().replace(/\$/, "");

                                    }

                                    clearTimeout(id)
                                    btnNext.click();

                                    return;
                            }

                   }
                  
                      setTimeout("doLogin('" + id + "')", 500);
            }


          </script>
	</head>
<body>

			<p id="notice"><%#= notice %></p>
			<p id="alert"><%#= alert %></p>
                  
			<%=form_tag log_in_path do%>
				<fieldset>
						<legend>Log In</legend>
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username" value="" optional="false" />
	
							<br />
              <label for ="password"> Password:</label>
							<input type="password" id="password" name="password" value="" optional="false" fieldtype="password"  condition="__$('username').value.length > 0"/>

							<br />
							<label for ="location">Location:</label>
                                                        <input type="text"  id="location" name="location" value="" optional="false" fieldtype="barcode"
                                                                callback="doLogin('location')" condition="__$('username').value.length > 0 &&  __$('password').value.length > 0"/>

							<br />
							
					</fieldset>
       	 <%=submit_tag "Login" %>
			<%end%>
</body>
</html>
