<html>
	<head>
		<script>
				<% if (defined? params[:client_id]) && !params[:client_id].blank? %>
						var cancelDestination = "/clients/<%= params[:client_id] %>";
				<% else %>
						var cancelDestination = "/htcs";
				<% end %>
		</script>
	</head>
<body>
			<%= form_tag({:action => "set_date"}, {:method => "post"}) do %>
					<% if defined? params[:client_id] %>
						<input type="hidden" value="<%= params[:client_id] %>" name="client_id" fieldtype="hidden" />
					<% end %>
				<br />
				<fieldset>
					<legend>Set Date</legend>
						<label for="dates">Date</label>
						<input type="text" name="dates" id="dates" fieldtype="date" />
						<br />
				</fiedset>
				<%= submit_tag "Finish" %>
					
			<%end%>
</body>
</html>
