<html>
	<head>
	</head>
</html>
<body>	
	<form action='/encounters/new' method='post'>
		<div id="row" style='width=100%'>
					<div id="question">
							Are you married?
					</div>
					<div id="yes_no">
							<input type="radio" name="concept[are you married?]" id="married_id" value="value">
							<label for="married_id">Yes</label>
							<input type="radio" name="concept[are you married?]" id="married_id" value="value">
							<label for="married_id">No</label>
					</div>
		</div>
		<div id="row" style='width=100%'>
					<div id="question">
							Do you have multiple partners?
					</div>
					<div id="yes_no">
							<input type="radio" name="concept[Do you have multiple partners?]" id="partners_id" value="value">
							<label for="partners_id">Yes</label>
							<input type="radio" name="concept[Do you have multiple partners?]" id="partners_id" value="value">
							<label for="partners_id">No</label>
					</div>
		</div>
		<div id="row" style='width=100%'>
					<div id="question">
							Do you use any protection against STIs?
					</div>
					<div id="yes_no">
							<input type="radio" name="concept[Do you use any protection against STIs?]" id="sti_id" value="value">
							<label for="sti_id">Yes</label>
							<input type="radio" name="concept[Do you use any protection against STIs?]" id="sti_id" value="value">
							<label for="sti_id">No</label>
					</div>
		</div>
		<div id="row" style='width=100%'>
					<div id="question">
							Do you use any protection against?
					</div>
					<div id="yes_no">
							<input type="radio" name="concept[Do you use any protection against STIs?]" id="sti_id" value="value">
							<label for="sti_id">Yes</label>
							<input type="radio" name="concept[Do you use any protection against STIs?]" id="sti_id" value="value">
							<label for="sti_id">No</label>
					</div>
		</div>
	</form>
</body>
