<h1>search Results</h1>

<ul>
<% @clients.each do |client| %>
		<li> <%= link_to "Patient: #{client.id}" , client %> </li>
<%end%>
</ul>

<%= link_to "Cancel" , htcs_path %>
<%= link_to "Select", '' %>


