<h1><%= "#{@current_room.name} Allocated Client List" %></h1>
<br >

<ul>
<% @clients.each do |client| %>
		<li> <%= link_to "Client/#{client.id}" , client %> </li>
<%end%>
</ul>

<%= link_to "Cancel" , htcs_path %>
<%= link_to "Select", '' %>
