<html>
	<head>
		<script>
						var cancelDestination = "/htcs";
		</script>
	</head>
<body>
			<%= form_tag({:action => "record_temp"}, {:method => "post"}) do %>

				<fieldset>
					<legend>Enter Temperature Reading</legend>
						<label for="temperature">Temperature (<sup>o</sup>C)</label>
						<input type="text" name="temperature" id="temperature" fieldtype="decimal" />
						<br />
				</fieldset>
				<%= submit_tag "Finish" %>
					
			<%end%>
</body>
    <script>
      setTimeout(function(){
          btnNext.onmousedown = function(){
              btnNext.onclick = "";
              if (document.getElementById("textFortemperature").value.length > 0) {
                   document.forms[0].submit()
              }else{
                   console.log("Failed: no input")
              }
          }
      }, 500)


    </script>
</html>
