<!DOCTYPE=html>
<html>
	<head>
		<title>Current Visit</title>
		<style>
			.arrow-right {
				width: 0; 
				height: 0; 
				border-top: 180px solid transparent; 
				border-left: 40px solid #ccc; 
				border-bottom: 180px solid transparent;
				cursor: pointer;
			}
			
			.arrow-left {
				width: 0; 
				height: 0; 
				border-top: 180px solid transparent; 
				border-right: 40px solid #ccc; 
				border-bottom: 180px solid transparent;
				cursor: pointer;
			}
			
			.arrow-left:hover{
				border-right: 40px solid #999; 
			}
			
			.arrow-right:hover{
				border-left: 40px solid #999; 
			}
		</style>
	</head>
	<body style="margin: 10px; overflow: auto; font-family: Helvetica;">
		<div style="display: table; width: 100%; border: 0px solid #eee; height: 99%;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; padding-top: 10px; width: 100px; text-align: center;">
					<div style="font-size: 32px; color: #305d97; margin: auto;">
						Counseling Rooms Status
					</div>
					
					
					<table width="100%" style="border: 1px solid #305d97; margin-top: 10px; font-size: 24px;" cellpadding="10" cellspacing="0">
						<tr style="color: #305d97;">
							<td style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
								&nbsp;
							</td>
							<th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
								Room State
							</th>
							<th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
								Latest Encounter
							</th>
							<th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
								AVG Waiting
							</th>
							<th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
								Seen Today
							</th>
							<th style="border-bottom: 1px solid #305d97;">
								Total Seen
							</th>
						</tr>
						
						<% @ins = 0 %>
						<% @rooms.sort.each do |r| %>
							<tr>
								<td style="border-right: 1px solid #305d97;">
									<%= r.humanize %>
								</td>
								
								<% @ins+=1 if @dash_board[r][:status]=="In" %>
								<td style="border-right: 1px solid #305d97; padding-left:20px; text-align: left;">
									<%= @dash_board[r][:status] + " ("+ @dash_board[r][:username] +")" rescue "Out" %>
								</td>
								
								<% if !@dash_board[r][:latest_encounter_name].nil? %>
									<td style="font-size:16px;border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
										<%= @dash_board[r][:latest_encounter_name] %> <br />
										<span style="font-size:12px;font-style: italic;"> (<%= @dash_board[r][:latest_encounter_date] %>) </span>
									</td>			
								<% else %>
									<td style="border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
										<i>--</i>
									</td>
								<% end %>
								<td style="border-right: 1px solid #305d97; text-align: center;">
									50
									<%#= Location.login_rooms_details.keys.to_json rescue "<i> Undefined </i>".html_safe %>
								</td>
								<td style="border-right: 1px solid #305d97; text-align: center;">
									10
								</td>
								<td style="text-align: center;">
									0
								</td>
							</tr>
						<% end %>

						<tr>
							<td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97;">
								Summary
							</td>
							
							<td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
							<%= "#{@ins}-<i>In</i> & #{@dash_board.count-@ins}-<i>Out</i>".html_safe %>
							</td>
							<td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
								&nbsp;
							</td>
							<td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
								&nbsp;
							</td>
							<td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
								&nbsp;
							</td>
							<td style="text-align: center; border-top: 1px solid #305d97; font-weight: bold; color: #305d97;">
								&nbsp;
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
